/* Hamburger Menu */
$Burger_Menu_Closed_Color : #000;
$Burger_Menu_Open_Color  : #000;

$Burger_Menu_Closed_Color : #fff;
$Burger_Menu_Open_Color  :  #fff;

/* Navbar */
$Nav_Link_Color : #ffffff;
$Nav_Link_Color : rgba(255, 255, 255, .8);
$Navbar_BG_Color : #cfcdcd;
$Navbar_BG_Color : #000618;
$Navbar_BG_Color : #000000;
$Nav_Links_Hover_Border : white;


/* Hero Section */
$Hero_BG_Color : black;
$Hero_BG_Color : #090909;
$Hero_BG_Color : #090909;
$Hero_Color : white;
// $Hero_Color : rgb(255, 62, 14); /* Orange */

/* Sidebar */
$Sidebar_BG_Color : rgba(15, 15, 15, 0.99);



/* Breakpoints */
$Tablet_Breakpoint : 1200px;
$Mobile_Breakpoint : 600px;



$Primary_Font_Color : rgba(255, 255, 255, .8);