@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_css-resets.scss";
@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_media-queries.scss";

/*@media (prefers-color-scheme: dark) {}*/
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  @apply bg-slate-100
}


